* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 10px;
}
body .hero {
  max-width: 1300px;
  width: 100%;
  margin: 150px auto;
}
body .hero .banner {
  position: relative;
}
body .hero .banner .title {
  position: absolute;
  width: 320px;
  display: block;
  font-size: 30px;
  font-weight: bold;
  margin: -1.9em 0 0 11.8em;
  color: #0047FF;
}
body .hero .banner .title--green {
  color: #14E2C9;
}
body .hero .banner .title2 {
  position: absolute;
  width: 340px;
  display: block;
  font-size: 2.4em;
  font-weight: bold;
  margin: -1.9em 0 0 11.8em;
  color: #0047FF;
}
body .hero .banner .title2--green {
  color: #14E2C9;
}
body .hero .banner .subtitle {
  position: absolute;
  max-width: 240px;
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: 1.3em;
  color: #FFFFFF;
  line-height: 15px;
  right: 385px;
  top: 25%;
  z-index: 2;
}
body .hero .banner .subtitle .detalhe-setas {
  max-width: 76px;
  margin-bottom: 20px;
}
body .hero .banner .banner-fundo {
  max-width: 1300px;
  width: 100%;
}
body .hero .detalhe-x {
  position: absolute;
  left: 33em;
  top: 23em;
}
body .hero .jinx {
  position: absolute;
  right: -15px;
  top: -20px;
  z-index: 1;
  max-width: 560px;
  width: 100%;
}
body .hero .bolinhas {
  position: absolute;
  max-width: 80px;
  z-index: 0;
  right: 270px;
  top: 149px;
}
body .hero .bolinhas.banner2 {
  left: 422px;
  top: 270px;
}
body .hero .coracao {
  position: absolute;
  bottom: -20px;
  right: -70px;
  max-width: 580px;
}
body .hero .controle {
  position: absolute;
  top: 70px;
  left: 24%;
  max-width: 430px;
  width: 100%;
  animation: flutuandoY 5s ease-in infinite;
}
body .hero .mais1 {
  position: absolute;
  z-index: -1;
  left: 30px;
  animation: flutuandoY 5s ease-in infinite;
}
body .hero .mais2 {
  position: absolute;
  right: 210px;
  bottom: -20px;
  z-index: 2;
  animation: flutuandoY 5s ease-in infinite;
}
body .hero .oculos {
  position: absolute;
  z-index: 0;
  top: -130px;
  right: 222px;
  animation: flutuandoX 4s ease-in infinite;
}
body .hero .celular {
  position: absolute;
  left: 23%;
  bottom: -20px;
  z-index: 1;
  max-width: 690px;
  width: 100%;
}
body .hero .celular.banner2 {
  left: 24.3%;
}
@keyframes flutuandoY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes flutuandoX {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

@media (max-width: 1260px) {
  .title {
    margin: -70px 0 0 370px;
  }

  .celular {
    max-width: 640px;
  }

  .controle {
    max-width: 360px;
  }

  .oculos {
    max-width: 330px;
    top: -85px;
    right: 240px;
  }
}
@media (max-width: 1220px) {
  .title {
    margin: -1.9em 0 0 10.7em;
  }

  .celular {
    max-width: 620px;
  }

  .detalhe-x {
    top: 210px;
    left: 300px;
  }
}
@media (max-width: 1188px) {
  .controle {
    max-width: 300px;
  }

  .mais1 {
    max-width: 230px;
  }

  .mais2 {
    max-width: 180px;
    right: 230px;
  }

  .celular {
    max-width: 590px;
  }

  .oculos {
    max-width: 290px;
    top: -70px;
    right: 230px;
  }

  .detalhe-setas {
    top: 140px;
  }

  .jinx {
    right: -45px;
  }

  .bolinhas {
    right: 240px;
  }
}
@media (max-width: 1130px) {
  .title {
    margin: -1.9em 0 0 8.7em;
  }

  .oculos {
    right: 230px;
  }

  .detalhe-setas {
    top: 140px;
  }

  .subtitle {
    right: 350px;
  }

  .jinx {
    max-width: 540px;
  }
}
@media (max-width: 1100px) {
  .title {
    margin: -1.9em 0 0 11em;
    font-size: 2.2em;
  }

  .subtitle {
    font-size: 1em;
    right: 285px;
  }

  .celular {
    max-width: 540px;
  }

  .jinx {
    max-width: 500px;
  }

  .detalhe-x {
    top: 180px;
    left: 250px;
  }

  .mais2 {
    max-width: 160px;
    right: 170px;
  }

  .bolinhas {
    max-width: 65px;
    right: 210px;
    top: 135px;
  }

  .oculos {
    top: -80px;
    right: 190px;
  }
}

/*# sourceMappingURL=style.css.map */
